<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="navbar(loginTeacher)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <span class="brand"><strong>上机考试系统</strong></span>

                <ul class="nav navbar-nav">
                    <li><a th:href="@{/teacher}"><i class="icon-home icon-white"></i>首页</a></li>
                    <li><a th:href="@{/teacher/exam/before}"><i class="icon-cog icon-white"></i>考前操作</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" role="button"
                                            aria-expanded="false" aria-haspopup="true" href="#"
                                            data-toggle="dropdown"><i class="icon-time icon-white"></i>考中管理<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/teacher/manage/summary}"><i class="icon-align-justify"></i>考试概况</a></li>
                            <li><a th:href="@{/teacher/manage/student}"><i class="icon-list"></i>学生信息</a></li>
                            <li><a th:href="@{/teacher/manage/unlock}"><i class="icon-lock"></i>解除锁定</a></li>
                            <li><a th:href="@{/teacher/manage/notify}"><i class="icon-bell"></i>通知管理</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/teacher/exam/after}"><i class="icon-check icon-white"></i>考后操作</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><span class="brand"><small th:text="'欢迎，' + ${loginTeacher.name}"></small></span></li>
                    <li><a href="#" data-toggle="modal"
                           data-target=".bs-example-modal-sm"><i class="icon-pencil icon-white"></i>修改口令</a></li>
                    <li><a th:href="@{/teacher/logout}"><i class="icon-share icon-white"></i>退出</a></li>
                </ul>

                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm span3" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">修改口令</h4>
                </div>
                <div class="modal-body">
                    <div class="exam-form">
                        <p>
                            <input type="password" id="oldPass" name="oldpass" placeholder="原口令" style="width:100%"/>
                            <br/>
                            <input type="password" id="newPass1" name="newpass1" placeholder="新口令" style="width:100%"/>
                            <br/>
                            <input type="password" id="newPass2" name="newpass2" placeholder="重输新口令" style="width:100%"/>
                            <br/>
                            <button type="submit" id="changePass" class="btn btn-primary" style="width:100%">修改</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>